.filepicker {
  width: 60%;
  height: 50%;
  position: fixed;
  left: 20%;
  right: 20%;
  top: 0%;
  background: white;
  box-shadow: 0px 5px 50px 5px #888;
  -webkit-transform: translate3d(0,-100%,0);
  -moz-transform: translate3d(0,-100%,0);
  -ms-transform: translate3d(0,-100%,0);
  -o-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

  .filepicker.trans {
    -webkit-transition: -webkit-transform linear 1s;
    -moz-transition: transform linear 1s;
    -o-transition: transform linear 1s;
    transition: transform linear 1s;
  }

  .filepicker.open {
    -webkit-transform: translate3d(0,0%,0);
    -moz-transform: translate3d(0,0%,0);
    -ms-transform: translate3d(0,0%,0);
    -o-transform: translate3d(0,0%,0);
    transform: translate3d(0,0%,0);
  }

  .filepicker ul {
    list-style-type: none;
  }

  .filepicker .filepicker-path li {
    display: inline-block;
    margin: 5px 10px;
  }